<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork1005-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h3> Get to Know a Pandas Array </h3>

You will use the dataframe <code>df</code> for the following:

In [1]:
import pandas as pd

df=pd.DataFrame({'a':[11,21,31],'b':[21,22,23]})

1) Display the first three rows:

In [68]:
df.head(3)

    a   b
0  11  21
1  21  22
2  31  23

<details><summary>Click here for the solution</summary>

```python
df.head(3)
    
```

</details>

2) Obtain column  <code> 'a' </code>:

In [104]:
# we can access to the columns values
only_values = df['a']
print(only_values)

# also, we can use the following format to access the column 'a' but now we can see the header and number rows 
value_header = df[['a']]
print(value_header)

0    11
1    21
2    31
Name: a, dtype: int64
    a
0  11
1  21
2  31

21

<details><summary>Click here for the solution</summary>

```python
df['a']
    
```

</details>

### To access a value in specific `column` and `row`
We can access to specific position from our own dataframe a take that specific value, 
this is possible to the `.iloc` function

for example: 

```.python 
df.iloc[Row, column]
```

In [114]:
# To display the dataframe
a = df.head(3)
print(a)

# other notations df.iloc[Row, column]      
    # This select the third row from the second column, rember the index begin from 0, therefore df.iloc[2,1] should be return 23
print(f"This select the third row from the second column: {df.iloc[2,1]}")

    a   b
0  11  21
1  21  22
2  31  23
This select the third row from the second column: 23

In [115]:
import pandas as banana

df=banana.DataFrame({'a':[11,21,31],'b':[21,22,23]})

df.head()

    a   b
0  11  21
1  21  22
2  31  23

<hr>

<h3 align="center"> Â© IBM Corporation 2020. All rights reserved. <h3/>