<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork1005-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h3> Get to Know a Pandas Array </h3>

You will use the dataframe <code>df</code> for the following:

In [2]:
import pandas as pd

df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})

1) Find the unique values in column <code> 'a' </code>:

In [5]:
df['a'].unique()

array([1, 2], dtype=int64)

<details><summary>Click here for the solution</summary>

```python
df['a'].unique()
    
```

</details>

2) Return a dataframe with only the rows where column <code> a </code> is less than two:

In [17]:
# to validate if there are data mayor than 2
print(df['a'] < 2)

# To print the valua less than 2
df[df['a'] < 2]

0     True
1    False
2     True
Name: a, dtype: bool

   a  b
0  1  1
2  1  1

<details><summary>Click here for the solution</summary>

```python
df[df['a']<2]
    
```

</details>

In [19]:
df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})
df['a'] == 1

0     True
1    False
2     True
Name: a, dtype: bool

### We can save a dataframe in a file
E.g:
We can save the data from dataframe: `df` in a .csv format

In [4]:
df.to_csv("file.csv")
df.head()

   a  b
0  1  1
1  2  1
2  1  1

<hr>

<h3 align="center"> Â© IBM Corporation 2020. All rights reserved. <h3/>